.react-tagsinput {
  width: 100%;
  border: 1px solid #d0d7dd;
  border-radius: 5px;
  background-color: #ffffff;
  text-align: initial;
  padding: 8px;
  overflow: hidden;
}

.react-tagsinput--focused {
  border-color: #cfd7de;
}

.react-tagsinput-tag {
  display: inline-block;
  border: 1px solid #d0d7dd;
  border-radius: 5px;
  background-color: #ffffff;
  height: 36px;
  padding: 6px 10px;
  margin-right: 8px;
}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
}

.react-tagsinput-tag a::before {
  content: '  x';
  color: #cdcdcd;
  font-weight: 900;
  font-size: 14px;
}

.react-tagsinput-input {
  box-sizing: border-box;
  height: 36px;
  width: 100%;
  border: none;
  background-color: transparent;
}

.react-tagsinput-input::placeholder {
  color: #cfd7de;
}

.react-tagsinput-input:focus {
  outline: none;
}
